.classpath
.project
.settings/*
report/.settings/*
report-birt/.settings/*
report-birt-spring-web/.settings/*
testing-springmodules/.settings/*
spring/.settings/*
spring-security/.settings/*
testing/.settings/*
testing-jpa/.settings/*
testing-validation/.settings/*
twitter4j/.settings/*
bin/
*.class
*/target/**
